h1{
  font-family:"Arial";
}

p{
  /* font-family: 'Barrio', cursive; */
  font-family: 'Linden Hill', serif;
}


/* body{
  font-size: 20px;
}

/*
1em = 16px
2em = 32px
*/
/* #two{
  font-size: 2.0em;
}

p{
  font-style: italic;
  font-weight: bold;
}


h1{
  text-align: center;
}  */
